In [14]:
import evadb

In [17]:
cursor = evadb.connect().cursor()
cursor.query('DROP TABLE IF EXISTS news_videos;').df()
cursor.load(
    file_regex="Actor_01/01-02-06-02-01-01-01.mp4",
    format="VIDEO",
    table_name="news_videos"
).df()

Downloading: "http://ml.cs.tsinghua.edu.cn/~chenxi/pytorch-models/mnist-b07bb66b.pth" to /Users/khushitalesra/.cache/torch/hub/checkpoints/mnist-b07bb66b.pth
Downloading: "https://download.pytorch.org/models/fasterrcnn_resnet50_fpn_coco-258fb6c6.pth" to /Users/khushitalesra/.cache/torch/hub/checkpoints/fasterrcnn_resnet50_fpn_coco-258fb6c6.pth

                           0
0  Number of loaded VIDEO: 1

In [18]:
query = cursor.table('news_videos')

In [19]:
query.df()

,news_videos._row_id,news_videos.name,news_videos.id,news_videos.data,news_videos.seconds
0,1,Actor_01/01-02-06-02-01-01-01.mp4,0,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",0.00
1,1,Actor_01/01-02-06-02-01-01-01.mp4,1,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",0.03
2,1,Actor_01/01-02-06-02-01-01-01.mp4,2,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",0.07
3,1,Actor_01/01-02-06-02-01-01-01.mp4,3,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",0.10
4,1,Actor_01/01-02-06-02-01-01-01.mp4,4,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",0.13
...,...,...,...,...,...
124,1,Actor_01/01-02-06-02-01-01-01.mp4,124,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",4.14
125,1,Actor_01/01-02-06-02-01-01-01.mp4,125,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",4.17
126,1,Actor_01/01-02-06-02-01-01-01.mp4,126,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",4.20
127,1,Actor_01/01-02-06-02-01-01-01.mp4,127,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",4.24
128,1,Actor_01/01-02-06-02-01-01-01.mp4,128,"[[[253, 253, 253], [253, 253, 253], [253, 253,...",4.27

In [21]:
cursor.create_function(
    udf_name="EmotionRecognizer2",
    type="HuggingFace",
    task='audio-classification',
    model='superb/hubert-large-superb-er'
).df()

                                                   0
0  UDF EmotionRecognizer2 already exists, nothing...

In [22]:
cursor.query('DROP TABLE IF EXISTS emotions1;').df()
cursor.query(
    """CREATE TABLE emotions1 AS
       SELECT EmotionRecognizer2(audio) from news_videos;"""
).df()

Empty DataFrame
Columns: []
Index: []

In [23]:
query = cursor.table('emotions')

In [30]:
query.df()

   emotions._row_id  emotions.score emotions.label
0                 1        0.358671            ang
1                 2        0.316448            sad
2                 3        0.246237            hap
3                 4        0.078644            neu